DATABASE_URL=postgresql://<user>:<password>@<host>:<port>/<database>
SQS_QUEUE_URL=http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/<queue-name>
SQS_DLQ_URL=http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/<dlq-name>
LOG_LEVEL=info
PORT=3000
